@charset "UTF-8";
.mmb-menu {
  width: 100%;
}
.mmb-menu .title {
  font-weight: 700;
  background-color: #EDEDED;
}
.mmb-menu .down li {
  float: left;
  width: 33.33%;
  height: 1rem;
  line-height: 1rem;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #F9F9F9;
}
.mmb-menu .down li a {
  color: #000;
  font-size: 0.3rem;
  display: block;
  width: 100%;
}
.mmb-menu .mui-table-view-cell.mui-collapse .down {
  padding: 0;
}
.mmb-menu .mui-table-view-cell.mui-collapse .mui-collapse-content {
  margin-top: -8px;
  background-color: #F9F9F9;
}
