@charset "UTF-8";
.mmb-navs li {
  width: 33.3%;
  float: left;
}
.mmb-navs li select {
  font-size: 0.6rem;
}
.mmb-pro li {
  padding: 0.2rem;
  width: 50%;
  float: left;
  background-color: #fff;
}
.mmb-pro li .img-box {
  width: 3rem;
  height: 3rem;
}
.mmb-pro li .img-box img {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 1rem;
}
.mmb-pro li .ititle {
  font-size: 0.5rem;
  position: relative;
}
.mmb-pro li .ititle span {
  font-size: 0.6rem;
  color: red;
}
.mmb-pro li .ititle button {
  background-color: orange;
  position: absolute;
  bottom: 0.1rem;
  right: 0.4rem;
}
