<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>比价商品分类</title>
  <link rel="stylesheet" href="lib/mui/css/mui.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/brand.css">

</head>
<body>

<div class="mmb-container">
  <!--头部-->
  <div class="mmb-header">
    <a href="index.html"> <img class='mui-pull-left' src="images/header_logo.png" alt=""></a>
    <img class='mui-pull-right' src="images/header_app.png" alt="">

  </div>
  <!--搜索框-->
  <div class="mmb-search">
    <input type="text" placeholder='输入你想比价的商品'>
    <button >搜索</button>
  </div>
  <!--筛选-->
  <div class="setion mui-clearfix">
    <a href="index.html">首页</a>>
    <a href="category.html">全部分类</a>>
    <a href="javascript:(0);">电视</a>>
  </div>

  <!--排行-->
  <div class="mmb-pks">
    <div class="pk mui-clearfix">
      <strong>平板电视哪个牌子好</strong>
    </div>
  </div>

   <!--标题排行-->
  <ul class='alls'>
    <li>
      <a href="">
        <span>1</span>
        <strong>三星平板电视</strong>
         <p>30天全网销售：242408件</p>
        <i class='mui-icon mui-icon-arrowright'></i>
      </a>
    </li>
    <li>
      <a href="">
        <span>1</span>
        <strong>三星平板电视</strong>
        <p>30天全网销售：242408件</p>
        <i class='mui-icon mui-icon-arrowright'></i>
      </a>
    </li>
  </ul>


 <!--小导航-->
  <div class="mmb-pk2">
    <div class="pk mui-clearfix">
      <strong>平板电视产品销量排行</strong>
    </div>
  </div>
  <!--列表排行-->
  <ul class="information1 mui-clearfix data">
    <li class='mui-clearfix'>
      <a href="#">
        <div class="img-box">
          <img src="./images/categorylist.jpg" alt="">
        </div>
        <div class="img-info">
          <div class='title mui-ellipsis-2'>乐视TV(Letv)S50 Air全配版2D 50英寸 全高清LED液晶电视</div>
          <div class='price'>&yen;1999.00</div>
          <div class='pinlun'><span>报价(1)</span><span>评论(100)</span></div>
        </div>
        <div class="star">
          ★★★★★★★
        </div>
      </a>
    </li>
    <li class='mui-clearfix'>
      <a href="#">
        <div class="img-box">
          <img src="./images/categorylist.jpg" alt="">
        </div>
        <div class="img-info">
          <div class='title mui-ellipsis-2'>乐视TV(Letv)S50 Air全配版2D 50英寸 全高清LED液晶电视</div>
          <div class='price'>&yen;1999.00</div>
          <div class='pinlun'><span>报价(1)</span><span>评论(100)</span></div>
        </div>
      </a>
    </li>
    <li class='mui-clearfix'>
      <a href="#">
        <div class="img-box">
          <img src="./images/categorylist.jpg" alt="">
        </div>
        <div class="img-info">
          <div class='title mui-ellipsis-2'>乐视TV(Letv)S50 Air全配版2D 50英寸 全高清LED液晶电视</div>
          <div class='price'>&yen;1999.00</div>
          <div class='pinlun'><span>报价(1)</span><span>评论(100)</span></div>
        </div>
      </a>
    </li>
    <li class='mui-clearfix'>
      <a href="#">
        <div class="img-box">
          <img src="./images/categorylist.jpg" alt="">
        </div>
        <div class="img-info">
          <div class='title mui-ellipsis-2'>乐视TV(Letv)S50 Air全配版2D 50英寸 全高清LED液晶电视</div>
          <div class='price'>&yen;1999.00</div>
          <div class='pinlun'><span>报价(1)</span><span>评论(100)</span></div>
        </div>
      </a>
    </li>
  </ul>


  <!--小导航-->
  <div class="mmb-pk3">
    <div class="pk mui-clearfix">
      <strong>平板电视最新评论</strong>
    </div>
  </div>
<!--评论排行-->
  <ul class='pjLists'>
    <li>
    <div class="up mui-clearfix">
      <div class="img-box">
      <img src="./images/star.jpg" alt="">
      </div>
      <div class='biaoti'>
        美的(Midea) JSQ22-12HWB(T) 12升/min 电脑板燃气热水器
      </div>
    </div>
    <div class="down">
      <div class='user'>
        <span class="num">145***8099：
          <span>★★★★★★</span>
        </span>
        <span class='mui-pull-right'>2015/5/6</span>
      </div>
       <div class='san'>

       </div>
      <div class='btxt '>
        这个价位可以变升，自动恒温，性价比很高，价格去店里比较过。818当天苏宁门店12升的有一款为优惠价1900多，离易购价差距较多，店内人员说苏宁易购这款为七八年前产品，店内无货，所以便宜，相当胡扯。跟家人一合计还是易购买入。结果当晚下单，早上九点就说快送来了，神速啊，说明本地肯定有备货仓库。当晚联系美的厂家，约定第二天厂家本地服务网点上门安装。第三天又是八点不到，接到网点电话可以上门。这效率实在高，由于我家是旧燃气热水器跟换新的多了一个拆机费，和一个管路费，把旧机抵给安装师傅一分没有收。新款点火噪音小，热水出水快，温度设定稳定，又是活动优惠，真是超值! 评论发布自 购买自：苏宁易购
      </div>
    </div>
    </li>
  </ul>


  <!--底部-->
  <div class="mmb-footer mui-clearfix">
    <ul class='user'>
      <a href="#">登陆</a>
      <a href="#">注册</a>
      <a  class='img'href="#">
        <img src="images/top.jpg" alt="">
        <span>返回顶部</span>
      </a>
    </ul>
    <p>手机APP下载慢慢买手机版</p>
    <p>m.manmanbuy.com</p>
  </div>
</div>

</body>
</html>
<!--标题模板-->
<script type='text/template' id='tpl'>
  {{each result v i}}

  <% if(i==0) { %>
  <li>
    <a href="productlist.html?categoryid={{v.categoryId}}&pageid=1">
      <span style='background-color: red'>1</span>
      <strong>{{v.brandName}}</strong>
      <p>{{v.brandInfo}}</p>
      <i class='mui-icon mui-icon-arrowright'></i>
    </a>
  </li>
  <% } %>


  <% if(i==1) { %>
  <li>
    <a href="productlist.html?categoryid={{v.categoryId}}&pageid=1">
      <span style='background-color: orange'>2</span>
      <strong>{{v.brandName}}</strong>
      <p>{{v.brandInfo}}</p>
      <i class='mui-icon mui-icon-arrowright'></i>
    </a>
  </li>
  <% } %>

  <% if(i==2) { %>
  <li>
    <a href="productlist.html?categoryid={{v.categoryId}}&pageid=1">
      <span style='background-color: green'>3</span>
      <strong>{{v.brandName}}</strong>
      <p>{{v.brandInfo}}</p>
      <i class='mui-icon mui-icon-arrowright'></i>
    </a>
  </li>
<% } %>

  <% if (i > 3) { %>
  <li>
    <a href="productlist.html?categoryid={{v.categoryId}}&pageid=1">
      <span style='background-color: gray'>{{v.brandId}}</span>
      <strong>{{v.brandName}}</strong>
      <p>{{v.brandInfo}}</p>
      <i class='mui-icon mui-icon-arrowright'></i>
    </a>
  </li>
 <% } %>

  {{/each}}
</script>

<!--列表模板-->
<script type='text/template' id='tpl2'>
  {{each result v i}}
  <li  class='mui-clearfix  bd'>
    <a href="bijia.html?productid={{v.productId}}">
      <div class="img-box">
        {{@ v.productImg}}
      </div>
      <div class="img-info">
        <div class='title mui-ellipsis-2'>{{v.productName}}</div>
        <div class='price'>{{v.productPrice}}</div>
        <div class='pinlun'><span>{{v.productQuote}}</span><span>{{v.productCom}}</span></div>
      </div>
      <div data-productid={{v.productId}} class="star">
        ★★★★★★
      </div>
    </a>
  </li>
  {{/each}}
</script>


<!--评论渲染-->
<script type='text/template' id='tpl3'>
  {{each result v i}}
  <li>
    <div class="up mui-clearfix">
      <div class="img-box">
       {{@ jjj.productImgSm}}
      </div>
      <div class='biaoti'>
        {{jjj.productName}}
      </div>
    </div>
    <div class="down">
      <div class='user'>
        <span  class="num">{{v.comName}}：
          <span>★★★★★★</span>
        </span>
        <span  class='mui-pull-right'>{{v.comTime}}</span>
      </div>
      <div  class='btxt '>
       {{v.comContent}}
      </div>
    </div>
  </li>
  {{/each}}
</script>



<script src='lib/mui/js/mui.js'></script>
<script src='lib/zepto/zepto.min.js'></script>
<script src='lib/artTemplate/template-web.js'></script>
<script src='js/brand.js'></script>
